<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.epidemicreporting">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Disease4_Death"
            android:parentActivityName=".Disease4_Reporting"
            />
        <activity android:name=".Disease4_Recover"
            android:parentActivityName=".Disease4_Reporting"
            />
        <activity android:name=".Disease4_Infected"
            android:parentActivityName=".Disease4_Reporting"
            />
        <activity android:name=".Disease4_Reporting"
            android:parentActivityName=".Home"
            />
        <activity
            android:name=".Disease3_Death"
            android:parentActivityName=".Disease3_Reporting" />
        <activity
            android:name=".Disease3_Recover"
            android:parentActivityName=".Disease3_Reporting" />
        <activity
            android:name=".Disease3_Infected"
            android:parentActivityName=".Disease3_Reporting" />
        <activity
            android:name=".Disease3_Reporting"
            android:parentActivityName=".Home" />
        <activity
            android:name=".Disease2_Death"
            android:parentActivityName=".Disease2_Reporting" />
        <activity
            android:name=".Disease2_Recover"
            android:parentActivityName=".Disease2_Reporting" />
        <activity
            android:name=".Disease2_Infected"
            android:parentActivityName=".Disease2_Reporting" />
        <activity
            android:name=".Disease2_Reporting"
            android:parentActivityName=".Home" />
        <activity
            android:name=".Contact"
            android:parentActivityName=".Home" />
        <activity
            android:name=".Instruction"
            android:parentActivityName=".Home" />
        <activity
            android:name=".Disease1_Death"
            android:parentActivityName=".Disease1_Reporting" />
        <activity
            android:name=".Disease1_Recover"
            android:parentActivityName=".Disease1_Reporting" />
        <activity
            android:name=".Disease1_Reporting"
            android:parentActivityName=".Home" />
        <activity
            android:name=".Disease1_Infected"
            android:parentActivityName=".Disease1_Reporting" />
        <activity
            android:name=".Profile"
            android:parentActivityName=".Home" />
        <activity
            android:name=".Forget_password"
            android:parentActivityName=".Sign_in" />
        <activity
            android:name=".Home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Sign_up"
            android:parentActivityName=".Home" />
        <activity android:name=".Sign_in" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>